body{
  margin: 0;
  background-color: #f3f3f3;
}

.container .ql-editor{
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin:1rem;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  background-color: white;
}

.container .ql-container.ql-snow{
  border :none;
  display: flex;
  justify-self: center;
  align-items: center;
}

.container .ql-toolbar.ql-snow{
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 8.5in;
  top:0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

@media print{
  body{
    background:none;
  }
  .container .ql-editor{
    box-shadow: none;
    align-self: flex-start;
  }
  .container .ql-toolbar.ql-snow{
    display: none;
  }
}
.App{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-template-areas: "overlap";
}

.container{
  display: grid;
  grid-area: overlap;
  justify-self: center;
}

.myCallContainer{
  grid-area: overlap;
  position: fixed;
  justify-self: center;
  padding-top: 100px;
}


.control{
  justify-self: center;
  grid-area: overlap;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform:translateX(-50%);
  display: flex;
  gap: 1em;
  overflow: hidden;
}

.control-container{
  position: fixed;
  /* background-color: rgba(10, 1, 26, 0.9); */
  width: max-content;
  height: max-content;
  padding: 20px;
  border-radius: 50%;
  justify-self: center;
  align-items: center;
  cursor: pointer;
}


.control-container img{
  height: 60px;
  width: 60px;
}




